[package]
name = "mosaic"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
subxt = { version = "0.44.2", features = ["ws"] }
